/* 
  Google Fonts Used
  Rubik + JetBrains Mono + Unbounded

  Unbounded: https://fonts.google.com/specimen/Unbounded
  JetBrains Mono: https://fonts.google.com/specimen/JetBrains+Mono
  Rubik: https://fonts.google.com/specimen/Rubik
*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;

  font-family: "Rubik", serif;
}

.mono {
  font-family: "JetBrains Mono", monospace;
  & * {
    font-family: "JetBrains Mono", monospace;
  }
}

.unbounded {
  font-family: "Unbounded", sans-serif;
  & * {
    font-family: "Unbounded", sans-serif;
  }
}